<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD562Q6wfj47YEwQhL5qwgCYIGBQDlvvdg</string>
	<key>GCM_SENDER_ID</key>
	<string>689433270181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fruithubapp-9d730</string>
	<key>STORAGE_BUCKET</key>
	<string>fruithubapp-9d730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689433270181:ios:a79753f89cd9eeeb16ba4c</string>
</dict>
</plist>